@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* ----------- Header ----------- */
.navbar-custom {
  background-color: #fc4c02;
  padding: 5px 20px; }

.logo1 {
  height: 100px;
  width: 120px;
  border-radius: 20%;
  transition: transform 0.5s; }
  .logo1:hover {
    transform: scale(1.1); }

#navbarNav {
  border: dashed 2px #fd9467;
  flex-grow: 0; }

.nav-item {
  padding: 0.1rem 0.8rem; }

.navbar-text {
  font-family: "Poppins", sans-serif;
  font-size: 19px;
  color: white; }

/* ----------- Footer ----------- */
.foot-div {
  background-color: #fc4c02;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 35px; }
  .foot-div span {
    font-family: "Poppins", sans-serif;
    color: #ffede6;
    padding: 0 20px; }

.footer-part-1, .footer-part-2 {
  display: flex;
  align-items: center;
  border: dashed 2px #fd9467;
  padding: 4px; }

.footer-icon-cr, .footer-icon-fb, .footer-icon-ig {
  height: 25px;
  padding: 0 3px; }

/* ----------- Home - index ----------- */
.main_div {
  background-color: #fc4c02; }

#carouselExampleCaptions {
  padding: 0 34px; }

.image-height {
  height: 82vh; }

.carousel-text {
  font-family: "Poppins", sans-serif; }

.menu-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 0; }

.sub-menus {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 30px; }

.menu-photos {
  height: 180px;
  width: 180px;
  border-radius: 50%; }

.titles-menu-sec {
  padding: 7px 0; }
  .titles-menu-sec a {
    font-family: "Poppins", sans-serif;
    color: #ffede6;
    font-weight: lighter;
    font-size: 24px;
    transition: all 0.4s; }
    .titles-menu-sec a:hover {
      color: black; }

.text-menu-sec {
  font-family: "Poppins", sans-serif;
  color: #fec9b3;
  font-size: 15px; }

/* ----------- About us ----------- */
.about-sec {
  background-color: #fec9b3;
  padding: 0 40px; }
  .about-sec h1, .about-sec p {
    font-family: "Poppins", sans-serif;
    padding: 10px;
    border: dashed 2px #fd9467;
    border-radius: 7px; }
  .about-sec h1 {
    width: fit-content;
    margin-bottom: 15px;
    font-size: 30px; }
  .about-sec p {
    width: 100%;
    text-align: justify;
    font-size: 16px; }

.about-sec1, .about-sec2 {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center; }

.who-text, .mission-text {
  display: flex;
  flex-direction: column;
  width: 50%;
  transform: rotate(8deg); }

.mission-text {
  align-items: flex-end;
  transform: rotate(-8deg); }

.team-img {
  width: 50%;
  margin-left: 20px; }

.kitchen-img {
  height: 82%;
  margin-right: 20px; }

/* ----------- Menu ----------- */
.menu-sec1, .menu-sec2, .menu-sec3 {
  display: flex;
  flex-direction: column; }

.title-menu-sec1, .title-menu-sec2, .title-menu-sec3 {
  background-image: url("../../images/menu/coffee-mugs.jpg");
  background-size: 100% 100%;
  height: 60vh;
  color: #fc4c02;
  font-size: 60px;
  font-family: "Poppins", sans-serif;
  text-shadow: 0 2px black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0; }

.title-menu-sec2 {
  background-image: url("../../images/menu/cookies.jpeg"); }

.title-menu-sec3 {
  background-image: url("../../images/menu/pita.jpg"); }

.title-menu-sec1, .title-menu-sec2, .title-menu-sec3, .title-menu-sec2, .title-menu-sec3 {
  color: #fc4c02;
  font-size: 60px;
  font-family: "Poppins", sans-serif;
  text-shadow: 0 2px black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0; }

.options-menu-sec1, .options-menu-sec2, .options-menu-sec3 {
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
  grid-template-rows: 1fr 1fr;
  padding: 22px 0;
  background-color: #ffede6;
  margin-bottom: 0; }

.options-menu-sec1 li, .options-menu-sec2 li, .options-menu-sec3 li {
  list-style-type: none;
  padding: 10px 120px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  display: flex;
  justify-content: space-between; }

.products-sec {
  padding: 50px 0;
  background-color: #fec9b3; }

.products-sec1, .products-sec2 {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .products-sec1 h1, .products-sec2 h1 {
    font-family: "Poppins", sans-serif;
    font-size: 40px; }

.products-sec1 {
  margin-bottom: 35px; }

.cards-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }

.card {
  margin: 30px 0; }

.card-body {
  background-color: #ffede6; }
  .card-body h5, .card-body p, .card-body a {
    font-family: "Poppins", sans-serif; }

/* ----------- Contact ----------- */
.contact-sec {
  background-color: #fec9b3;
  padding: 35px 20px; }

.contact-sec1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.contact-icons {
  width: 100px; }

.line-icon {
  height: 400px;
  width: 60px; }

.schedule-sec, .email-sec, .location-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.schedule-info, .email-info, .location-info {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  background-color: #ffede6;
  border-radius: 5px;
  padding: 0 6px; }

.schedule-info, .location-info {
  margin-top: 10px; }

.contact-sec2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0; }

.text-sec2 {
  font-family: "Poppins", sans-serif;
  font-size: 19px;
  text-align: center; }

.margin-name {
  margin-right: 30px; }

/* ------------------------------- RESPONSIVE ------------------------------- */
@media screen and (max-width: 1150px) {
  /* ----------- Menu ----------- */
  .options-menu-sec1, .options-menu-sec2, .options-menu-sec3 {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 1fr 1fr 1fr; } }

@media screen and (max-width: 887px) {
  /* ----------- Contact ----------- */
  .contact-sec1 {
    display: flex;
    flex-direction: column; }
  .line-icon {
    display: none; }
  .schedule-sec, .email-sec, .location-sec {
    margin: 50px 0; } }

@media screen and (max-width: 829px) {
  /* ----------- Menu ----------- */
  .options-menu-sec1, .options-menu-sec2, .options-menu-sec3 {
    grid-template-columns: 100%;
    grid-template-rows: 1fr; } }

@media screen and (max-width: 767px) {
  /* ----------- Home - index ----------- */
  #carouselExampleCaptions {
    padding: 0 28px; }
  .image-height {
    height: 70vh; }
  .menu-sec {
    padding: 32px 0; }
  .sub-menus {
    padding: 25px; }
  .menu-photos {
    height: 170px;
    width: 170px; }
  .titles-menu-sec a {
    font-size: 20px; }
  .text-menu-sec {
    font-size: 13px;
    text-align: center; }
  /* ----------- Footer ----------- */
  .foot-div {
    height: 70px;
    padding: 0 28px; }
    .foot-div span {
      padding: 0 15px;
      font-size: 14px; }
  .footer-icon-cr, .footer-icon-fb, .footer-icon-ig {
    height: 20px; }
  /* ----------- About us ----------- */
  .about-sec {
    padding: 0 25px; }
    .about-sec h1 {
      font-size: 20px; }
    .about-sec p {
      font-size: 14px; } }

@media screen and (max-width: 610px) {
  /* ----------- Home - index ----------- */
  .image-height {
    height: 60vh; }
  /* ----------- About us ----------- */
  .about-sec h1 {
    font-size: 18px; }
  .about-sec p {
    font-size: 12px; }
  /* ----------- Menu ----------- */
  .title-menu-sec1, .title-menu-sec2, .title-menu-sec3, .title-menu-sec2, .title-menu-sec3 {
    font-size: 45px;
    height: 40vh; } }

@media screen and (max-width: 480px) {
  /* ----------- Home - index ----------- */
  #carouselExampleCaptions {
    padding: 0 20px; }
  .image-height {
    height: 50vh; }
  .menu-sec {
    padding: 26px 0; }
  .sub-menus {
    width: 100%; }
  .foot-div {
    height: 60px;
    padding: 0 20px; }
    .foot-div span {
      padding: 0 10px;
      font-size: 12px; }
  .footer-icon-cr, .footer-icon-fb, .footer-icon-ig {
    height: 18px; }
  /* ----------- About us ----------- */
  .about-sec {
    padding: 25px; }
  .about-sec1, .about-sec2 {
    height: 500px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px; }
  .about-sec2 {
    flex-direction: column-reverse; }
  .who-text, .mission-text, .mission-text {
    width: 100%;
    align-items: center;
    padding-bottom: 15px;
    transform: rotate(0deg); }
  .team-img {
    width: 100%;
    margin: 0; }
  .kitchen-img {
    height: 75%;
    margin: 0; }
  /* ----------- Menu ----------- */
  .title-menu-sec1, .title-menu-sec2, .title-menu-sec3, .title-menu-sec2, .title-menu-sec3 {
    font-size: 35px; } }

@media screen and (max-width: 415px) {
  /* ----------- Header ----------- */
  .logo1 {
    height: 80px;
    width: 100px; }
  /* ----------- Menu ----------- */
  .options-menu-sec1 li, .options-menu-sec2 li, .options-menu-sec3 li {
    padding: 10px 75px;
    font-size: 14px; } }
