$primary-color: #fc4c02;
$second-color: #fd9467;
$third-color: #fec9b3;
$fourth-color: #ffede6;
$primary-font-family: sans-serif;
$border-style: dashed 2px $second-color;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ----------- Home - index ----------- */

.navbar-custom {
  background-color: $primary-color;
  padding: 5px 20px;
}

.logo1 {
  height: 100px;
  width: 120px;
  border-radius: 20%;
  transition: transform 0.5s;

  &:hover {
    transform: scale(1.1);
  }
}

#navbarNav {
  border: $border-style;
  flex-grow: 0;
}

.nav-item {
  padding: 0.1rem 0.8rem;
}

.navbar-text {
  font-family: $primary-font-family;
  font-size: 19px;
  color: white;
}

.main_div {
  background-color: $primary-color;
}

#carouselExampleCaptions {
  padding: 0 34px;
}

.image-height {
  height: 82vh;
}

.carousel-text {
  font-family: $primary-font-family;
}

.menu-sec {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 0;
}

.sub-menus {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 30px;
}

.menu-photos {
  height: 180px;
  width: 180px;
  border-radius: 50%;
}

.titles-menu-sec {
  padding: 7px 0;

  a {
    font-family: $primary-font-family;
    color: $fourth-color;
    font-weight: lighter;
    font-size: 24px;
    transition: all 0.4s;
  
    &:hover {
      color: black;
    }
  }
}

.text-menu-sec {
  font-family: $primary-font-family;
  color: $third-color;
  font-size: 15px;
}

.foot-div {
  background-color: $primary-color;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 35px;

  span {
    font-family: $primary-font-family;
    color: $fourth-color;
    padding: 0 20px;
  }
}

.footer-part-1, .footer-part-2 {
  display: flex;
  align-items: center;
  border: $border-style;
  padding: 4px;
}

.footer-icon-cr, .footer-icon-fb, .footer-icon-ig {
  height: 25px;
  padding: 0 3px;
}


/* ----------- About us ----------- */

.about-sec {
  background-color: $third-color;
  padding: 0 40px;

  h1, p {
    font-family: $primary-font-family;
    padding: 10px;
    border: $border-style;
    border-radius: 7px;
  }

  h1 {
    width: fit-content;
    margin-bottom: 15px;
    font-size: 30px;
  }

  p {
    width: 100%;
    text-align: justify;
    font-size: 16px;
  }
}

.about-sec1, .about-sec2 {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.who-text, .mission-text {
  display: flex;
  flex-direction: column;
  width: 50%;
  transform: rotate(8deg);
}

.mission-text {
  align-items: flex-end;
  transform: rotate(-8deg);
}

.team-img {
  width: 50%;
  margin-left: 20px;
}

.kitchen-img {
  height: 82%;
  margin-right: 20px;
}