@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

$primary-color: #fc4c02;
$second-color: #fd9467;
$third-color: #fec9b3;
$fourth-color: #ffede6;
$primary-font-family: 'Poppins', sans-serif;
$border-style: dashed 2px $second-color;